<h1>Listing quizzes</h1>

<% @quizzes.each do |quiz| %>
  <div>
    <div>
      <strong>Question :</strong><%= quiz.question %>
    </div>
    <div>
      <strong>Ans1 :</strong><%= quiz.ans1 %>
    </div>
    <div>
      <strong>Ans2 :</strong><%= quiz.ans2 %>
    </div>
    <div>
      <strong>Ans3 :</strong><%= quiz.ans3 %>
    </div>
    <div>
      <strong>Correct_Ans :</strong><%= quiz.correctAns %>
    </div>
    <%= link_to 'Show', quiz %> 
    <%= link_to 'Edit', edit_quiz_path(quiz) %> 
    <%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %> 
    <br />
    <br />
  </div>
<% end %>

<br />
<%= link_to 'New Quiz', new_quiz_path %>
<%= link_to 'Back', welcome_index_path %>